{% extends 'base.html' %}

{% block content %}
    <form action="/register" method="POST">
        {% csrf_token %}
        {{ registration_form.as_p }}
    
        {% for field in registration_form %}
            {% for error in field.errors %}
                <p style="color: #ff0000;">{{ error }}</p>
            {% endfor %}
        {% endfor %}
    
        {% if registration_form.non_field_errors %}
            <div style="color: red;">
                <p>{{ registration_form.non_field_errors }}</p>
            </div>
        {% endif %}
    
      <div class="g-recaptcha" data-sitekey="6Lf0Yf4ZAAAAAHQAy_a1FuMDoSK_fjs_y9cK_LgA"></div>
    
        <button type="submit">Register</button>
      </form>
{% endblock content %}



